@tailwind base;
@tailwind components;
@tailwind utilities;

li {
  transition: background-color 0.3s;

  .absolute.bottom-0 {
    opacity: 0;
  }

  &:hover {
    .absolute.bottom-0 {
      opacity: 70%;
    }
  }
}
